* {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Jumbotron - Images */
.jumbotron {

}

.diagram {

}

.team {
  width: 490px;
}

/*Toolbar */
.toolbar {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  background-color: slategray;
  grid-template-areas:
  'tac note event'
}

.toolbar a {
  text-decoration: none;
}

.tool {

  text-align: center;
  margin: 2px;
  text-shadow: rgb(48, 86, 156, 0.2);
  color: whitesmoke;
  border: 3px solid black;
}

.event {
  grid-area: event;
  background-color: salmon;
}

.tactical {
  grid-area: tac;
  background-color: darkviolet;
}

.recordNote {
  grid-area: note;
  background-color: darkseagreen;
}

/* Sketchpad */
.sketchpad {
  height: 100vh;
  padding: 3px;
  background-color: slategray;
}

/* Team Cards Grid */
.cards {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-template-areas: 
  'ia1 lw cf rw ia2'
  'ia3 cm1 cm2 cm3 ia4'
  'lb lcb gk rcb rb'
  ; 

}

/* Player Cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 78px;
  min-width: 180px;
  max-width: auto;
  border: 3px solid black;
}

.card h6 {

  font-weight: 600;
  text-shadow: rgb(48, 86, 156, 0.2);
  font-size: 14px;
}

/* .card p {
  display: none;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 200;
} */

/* Player position card styles */
.gk {
  grid-area: gk;
  color: black;
  background-color: lawngreen;
}

.lcb {
 grid-area: lcb;
  color: whitesmoke;
  background-color: cyan;
}

.rcb {
  grid-area: rcb;
  color: whitesmoke;
  background-color: cyan;
}

.lb {
  grid-area: lb;
  color: smoke;
  background-color: cyan;
}
.rb {
 grid-area: rb;
  color: black;
  background-color: cyan;
}

.cm1 
{
  grid-area: cm1;
  background-color: darkgreen;
  color: black;
}
.cm2{
  grid-area: cm2;
  background-color: darkgreen;
  color: black;
} 

.cm3 {
  grid-area: cm3;
  background-color: darkgreen;
  color: black;
}

/*
.cm {
  background-color: darkgreen;
  color: whitesmoke; 
} 

.cdm {
  background-color: darkgreen;
  color: black;
} 

 .fw {
  color: black;
  background-color: crimson;
}  */

.rw {
 grid-area: rw;
  color: black;
  background-color: crimson;
}
.lw {
  grid-area: lw;
  color: black;
  background-color: crimson;
}
.cf {
  grid-area: cf;
  color: black;
  background-color: crimson;
}

.ia1 {
  grid-area: ia1;
  color: black;
  background-color: darkslategrey;
  /* display: none; */
}

.ia2 {
  grid-area: ia2;
  color: black;
  background-color: darkslategrey;
  /* display: none; */
}
.ia3 {
  grid-area: ia3;
  color: black;
  background-color: darkslategrey;
  /* display: none; */
}
.ia4 {
  grid-area: ia4;
  background-color: darkslategrey;
  /* display: none; */
}

.inactive {
  display: none;
  border-bottom: 6px dotted purple;
}




/* footer */
.footer {
  text-align: center;
  font-weight: 100;
  font-size: 3vh;
  background: lightskyblue;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}
